<h1 class="center">Parking Offers</h1>

<div class="offers-list">
    <div class="apple-small-card">
        <p><strong>Price:</strong></p>
        <p><strong>Parking Lot:</strong></p>
        <p><strong>Parking House:</strong></p>
        <p><strong>XXL Space:</strong></p>
        <p><strong>Suitable for Disabled:</strong></p>
        <p><strong>Discount:</strong></p>
        <button>Book Now</button>
    </div>

    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
</div>
