<div class="apple-form">
  <h1>Parking calculator & booking</h1>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="fullname">Full Name</label>
      <input type="text" id="fullname" [field]="carForm.fullname" />
    </div>

    <div class="form-group">
      <label for="floor">Floor</label>
      <select id="floor" [field]="carForm.floor">
        <option value="" disabled selected>Select your floor</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <!-- Add more floors as needed -->
      </select>
    </div>

    <div class="form-group">
      <label>Type of Car</label>
      <div class="radio-group">
        <div>
          <input [field]="carForm.carType" type="radio" id="small" value="Small personal car" />
          <label for="small">Small personal car</label>
        </div>
        <div>
          <input [field]="carForm.carType" type="radio" id="medium" value="Medium car (SUV)" />
          <label for="medium">Medium car (SUV)</label>
        </div>
        <div>
          <input [field]="carForm.carType" type="radio" id="big" value="Bigger car (minivan)" />
          <label for="big">Bigger car (minivan)</label>
        </div>
        <div>
          <input [field]="carForm.carType" type="radio" id="bus" value="Bus" />
          <label for="bus">Bus</label>
        </div>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
