<h1 class="center">Summary</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Parking Information</h2>
        </div>

        <div class="card-body">
            <div class="info-item">
                <span class="info-label">Parking Lot:</span>
                <span class="info-value"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Parking House:</span>
                <span class="info-value"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Parking Space XXL:</span>
                <span class="info-value"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Suitable for Disabled People:</span>
                <span class="info-value"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Price:</span>
                <span class="info-value"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Discount:</span>
                <span class="info-value"></span>
            </div>
        </div>

    </div>
</div>
